@import url("./reset.css");

#app {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#app section {
    border: 1px solid red;
}

#app h1 {
    font-size: 22px;
}

#app h1 nome {
    text-transform: uppercase;
}

#projetos .projeto {
    border: 1px solid green;
}

#projetos .projeto div {
    display: flex;
    overflow-y: hidden;
}

#projetos .projeto div img {
    width: 10em;
    height: 10em;
}
